[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
tortoise-orm = "*"
fastapi-template = "*"
pandas = "==1.5.3"
openpyxl = "*"
python-jose = "*"
python-multipart = "*"
asyncpg = "==0.27.0"
validators = "*"
pymupdf = "*"
python-dotenv = "*"
install = "*"
pymorphy2 = "*"
nltk = "*"
sentence-transformers = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
